/*GLOBAL */
* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
	text-decoration: none;
	-webkit-transition: all .2s ease 0s;
	transition: all .2s ease 0s;
}

*:hover {
	-webkit-transition: all .2s ease 0s;
	transition: all .2s ease 0s;
}

body {
	font-size: 16px;
	color: #C1D660;
	background-color: #eee;
	font-family: 'Amaranth', sans-serif;
}

h1 {
	font-size: 40px;
	text-align: center;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 20px;
}

.prix {
	font-size: 24px;
}


.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
}


/* HEADER */
header {
	background: no-repeat url("../img/bg.jpg") ;
	background-size: cover;
	background-color: #9ADC1A;
	background-position: bottom;
	/*opacity: 0.7;*/
	width: 100%;
	height: 185px;
	/*color: #yellow;*/
	padding-bottom: 20px;
}

/*H1 du header en fond foncé transparent*/
header p {
	background-color: rgba(0,0,0,0.1);
	margin-top: 0;
}

/*image : élu meilleur thé*/
header > img {
    width: 125px;
    float: right;
}

.enTete {
	display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*width: 50%;*/
    height: 100%;
    margin: 0 auto;
    border-color: red;
}

#sectionHeader1 {
	text-align: center;
	width: 100%;
	height: 20px;
	/*background-color: green;*/
	opacity: 0.6;
	margin: 0;
	color: white;
}

#sectionHeader2 {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#sectionHeader3 {
	clear: both;
	color: white;
}

/*cercle autour du panier*/
.fa-shopping-cart:before {
	border: 1px solid;
	padding: 7px;
	border-radius: 50%;
}

nav {
	display: flex;
	justify-content: space-around;
}

nav a {
	text-transform: uppercase;
	color: yellow;
	padding: 10px;
}

nav a:hover {
	background: rgba(1, 1, 1, 0.2);
	/* background-color: white;
	opacity: 0.2; */
}

/*Bandeau*/
#bandeauPromotions {
	width: 100%;
}

/*MAIN*/
/*5 thés*/
#cinqThes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: white;
    margin-bottom: 30px;
}

#cinqThes h2{
	flex-basis: 100%;
}

#cinqThes a {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#cinqThes:hover a {
	opacity: 0.5;
}

#cinqThes:hover a:hover {
	opacity: 1;
}

#cinqThes h2::before {
    width: 33%;
    left: 58px;
}

#cinqThes h2::after {
    width: 33%;
    right: 58px;
}

/*section3articles*/
#section3articles {
	display: flex;
	background-color: white;
	margin-bottom: 30px;
}

#section3articles h2{
	position: relative; /*Utilisé pour poisitionner les ::before ::after;*/
}

/*TIRET Avant et arprès h2*/
#section3articles h2::before {
    content: "";
    width: 30%;
    height: 1px;
    background-color: grey;
    position: absolute;
    top: 15px;
    left: -70px;
}

#section3articles h2::after {
    content: "";
    width: 30%;
    height: 1px;
    background-color: grey;
    position: absolute;
    top: 15px;
    right: -70px;
}


#section3articles article {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}

#section3articles article:hover img{
	transform: scale(1.05);
	box-shadow: -5px -5px 10px 5px rgba(161, 171, 99, .2);
}

#section3articles p {
	color: #CB9E54;
}

#section3articles a, .listingThes3thes article a {
    background-color: #CB9E54;
    width: 150px;
    padding: 10px;
    margin: 10px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

/*Effet au survol du bouton*/
#section3articles a:hover {
    opacity: 0.7;
}


.prix {
	font-size: 24px;
}

/*MAIN*/
/*main img {
	width: 100%;
}*/


/*FOOTER*/
footer {
	background-color: #9ADC1A;
	background: no-repeat url("../img/bg.jpg") ;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

footer nav {
	display: flex;
	flex-flow: row;
	color: white;
	justify-content: space-around;
	background-color: rgba(0,0,0,0.1);
	padding-bottom: 10px;
}

footer nav article {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    font-size: 130%;
    font-weight: lighter;
    text-transform: uppercase;
    height: 60px;

}

#footerTroisArticles {
	display: flex;
	justify-content: space-around;
	color: yellow;
	align-items: center;
}

#footerTroisArticles ul {
	list-style-type: none;
	padding-left: 0;
}

#footerTroisArticles:hover article{
	opacity: 0.6;
}

#footerTroisArticles:hover article:hover {
	opacity: 1;
}

#footerTroisArticles article {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#footerTroisArticles h2{
	color: white;
}

/****************************************************
				PAGE LISTING (Thés)
****************************************************/
.listingThes {
	background-color: white;
	margin-bottom: 20px;
	margin-top: 20px;
}

.listingThes > article {
	padding: 10px;
}

.listingThes > article img {
	float: left;
}

.listingThes > article > p {
	width: 90%;
	text-align: left;
	color: grey;
	font-family: "Arial";
}

.listingThes > article > h2 {
	position: relative; /*Utilisé pour poisitionner les ::before ::after;*/
	margin-bottom: 30px;
	text-align: left;
}

/*TIRET après h2*/
.listingThes h2::after {
    content: "";
    width: 70%;
    height: 1px;
    background-color: grey;
    position: absolute;
    top: 15px;
    left: 264px;
}

/*************** ListingThe3thes *************/
.listingThes3thes {
	display: flex;
	justify-content: space-around;
	background-color: white;
	margin-bottom: 30px;
}


.listingThes3thes h3 {
	color: grey;
}

.listingThes3thes article {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}



/* LICENCE */
#licence {
    display: block;
    text-align: center;
    padding: 25px;
    color: yellow;
    background-color: rgba(0,0,0,0.1);
}

#licence img {
    width: 50px;
}

#licence img:hover {
	transform: rotate3d(0,1,0, 90deg);
}

/****************************************************
				 RESPONSIVE
****************************************************/

/*mobile*/
/*HEADER*/
@media screen and (max-width: 368px) {

.container {
    max-width: 368px;
}

nav {
	flex-direction: column;
}

/*masquage élu meilleur thé, bandeau noël, slider...*/
header > img, #bandeauPromotions, .flexslider, main > h1,
		 main > h3, #sectionHeader3 #panier{
	display: none;
}

.enTete {
	text-align: center;
	display: flex;
	flex-direction: column;
}

/*pour positionner les panier*/
header {
	position: relative;
	height: 370px;
}

#sectionHeader3 > span {
    display: block;
    position: fixed;
    left: 5px;
    top: 30px;
    padding-top: 11px;
    border-radius: 5px;
    height: 40px;
    background-color: #C1D660;
    color: white;
}

header, #sectionHeader1, nav, #sectionHeader2 {
	display: flex;
	flex-direction: column;
}

#logo {
	margin-top: 100px;
}

#section3articles {
	flex-direction: column;
}

#footerTroisArticles {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}

/*FOOTER NAV*/
footer nav {
	font-size: 100%;
	flex-direction: row;
	flex-wrap: wrap;
}

footer nav article {
	font-size: 100%;
}

} /*fin responsive MOBILE*/
