/*GLOBAL */

* {
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

*:hover {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

body {
    font-family: 'Amaranth', sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    color: #c1d660;
    background-color: #eee;
}

html {
    font-size: 62.5%;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-size: 4rem;
}

h2 {
    font-size: 25px;
    font-size: 2.5rem;
    color: #92b511;
}

h3 {
    font-size: 20px;
    font-size: 2rem;
    color: #827553;
}

.container > h3 {
    font-family: "Arial", "sans-serif";
    font-size: 12px;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: lighter;
}

.prix {
    display: block;
    margin-bottom: 10px;
    margin-bottom: 1rem;
    font-size: 24px;
    font-size: 2.4rem;
    color: #827553;
}

.container {
    margin: 0 auto;
    padding: 19px;
    max-width: 1100px;
    text-align: center;
    background-color: white;
}

/* HEADER */

header {
    /* width: 100%; */

    height: 185px;
    padding-bottom: 20px;
    background: no-repeat url("../img/bg.jpg") #9adc1a center;
    background-size: cover;
}

/*H1 du header en fond foncé transparent*/

header p {
    margin-top: 0;
    padding: 5px 0;
    font-family: "Arial", "sans-serif";
    font-size: 14px;
    font-size: 1.4rem;
    color: #eee;
    background-color: rgba(0, 0, 0, 0.1);
}

/*image : élu meilleur thé*/

header > img {
    float: right;
    width: 125px;
}

/*cercle autour du panier*/
.fa-shopping-cart:before {
    padding: 7px;
    border: 1px solid;
    border-radius: 50%;
}

#panier span {
    color: #fff;
}

#panier i {
    opacity: 0.6;
}

.en-tete {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

#section-header1 {
    width: 100%;
    height: 20px;
    margin: 0;
    text-align: center;
    color: white;
}

#section-header2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
}


nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
}

nav a {
    padding: 10px;
    text-transform: uppercase;
    color: #eee;
}

nav a:hover {
    background: rgba(1, 1, 1, 0.2);
}

/*Bandeau*/

#bandeauPromotions {
    width: 100%;
}

/*MAIN*/
#cinq-thes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
    background-color: white;
    -ms-flex-wrap: wrap;
}

#cinq-thes h2 {
    display: block;
    flex-basis: 100%;
}

#cinq-thes a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

#cinq-thes:hover a {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ";
}

#cinq-thes:hover a:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100) ";
}

/*section-3-articles*/

#section-3-articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    background-color: white;
}

/*TIRET Avant et arprès h2*/

#section-3-articles h2:after,
#cinq-thes h2:after {
    content: "";
    display: block;
    margin-top: -15px;
    margin-top: -1.5rem;
    border-top: 1px #000 solid;
}

#cinq-thes h2 span,
#section-3-articles h2 span {
    padding: 10px;
    background-color: #fff;
}

/*FIN TIRET Avant et arprès h2*/

#section-3-articles article:hover img {
    box-shadow: -5px -5px 10px 5px rgba(161, 171, 99, .2);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

#section-3-articles p {
    color: #827553;
}

#section-3-articles a,
.listing-thes-3-thes article a,
.two-columns a:first-of-type {
    display: block;
    width: 160px;
    margin: 10px auto;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    color: white;
    background-color: #cb9e54;
}

/*Effet au survol du bouton*/

#section-3-articles a:hover {
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ";
}

/*FOOTER*/

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #9adc1a url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

footer nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding-bottom: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

footer nav article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 130%;
    font-weight: lighter;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

#footer-trois-articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: yellow;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

#footer-trois-articles ul {
    padding-left: 0;
    list-style-type: none;
}

#footer-trois-articles:hover article {
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ";
}

#footer-trois-articles:hover article:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100) ";
}

#footer-trois-articles article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

#footer-trois-articles h2 {
    color: white;
}

/****************************************************
				PAGE LISTING (Thés)
****************************************************/

.listing-thes {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.listing-thes > article {
    padding: 10px;
}

.listing-thes > article img {
    float: left;
}

.listing-thes > article > p {
    width: 90%;
    text-align: left;
    font-family: "Arial", sans-serif;
    color: #827553;
}

.listing-thes > article > h2,
.about > article > h2 {
    margin-bottom: 30px;
    padding: 10px;
    text-align: left;
    background-color: #fff;
}

/*TIRET après h2*/
main h2 span {
    padding: 10px;
    font-weight: initial;
    background-color: white;
}

.listing-thes h2:after,
.about h2:after {
    content: "";
    display: block;
    margin-top: -10px;
    border-top: 1px solid #827553;
}

/*************** ListingThe3thes *************/

.listing-thes-3-thes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    background-color: white;
}

.listing-thes-3-thes img {
    width: 70%;
    margin: 0 auto;
}

.listing-thes-3-thes article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

/* LICENCE */

#licence {
    display: block;
    padding: 25px;
    text-align: center;
    color: yellow;
    background-color: rgba(0, 0, 0, 0.1);
}

#licence img {
    width: 50px;
}

#licence img:hover {
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
    transform: rotate3d(0, 1, 0, 90deg);
}

/*About*/

.about article h1 {
    padding-left: 10px;
    text-align: left;
    font-weight: normal;
    color: #656765;
}

.about h2 {
    text-align: left;
}

.about img {
    float: left;
    margin: 17px;
}

.about img:nth-child(2) {
    float: right;
}

.about p {
    text-align: left;
    color: #656765;
}

.concept {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    background-color: #eaefcf;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

.concept article {
    width: 33%;
    margin: 0 auto;
    padding: 0 22px;
}

.concept img {
    float: none;
    width: 70px;
    height: auto;
}

section.concept p {
    text-align: center;
    font-size: smaller;
    color: #656765;
}

.concept figcaption {
    color: #656765;
}

/****************************************************
				PAGE Products
****************************************************/

.two-columns div:last-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px 0;
    text-align: right;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: end;
    -ms-flex-align: end;
}

.article .two-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
}

.article h3,
.article h4,
.article p,
.article label {
    display: block;
}

.two-columns i {
    color: #feaa10;
}

.two-columns i:nth-of-type(5) {
    color: #636364;
}

select {
    min-width: 200px;
}

.two-columns a:nth-of-type(2) {
    display: block;
    margin-top: 18px;
    font-size: 14px;
    font-size: 1.4rem;
    color: #9adc1a;
}

.two-columns .fa-heart {
    color: #e48675;
}

.product {
    color: #636364;
}

.product section {
    text-align: left;
}

.product div:last-of-type{
    text-align: left;
}

.product a.bouton{
    width: 100%;
}
/****************************************************
				 RESPONSIVE
****************************************************/

/*mobile*/

/*HEADER*/

@media screen and (max-width: 768px) {
    html {
        font-size: 60%;
    }

    .container {
        max-width: 760px;
    }

    nav {
        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }

    /*masquage élu meilleur thé, bandeau noël, slider...*/
    header > img,
    #bandeauPromotions,
    .flexslider,
    main > h1,
    main > h3 {
        display: none;
    }

    .en-tete {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        text-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }

    /*pour positionner le panier*/
    header {
        position: relative;
        height: auto;
    }

    #panier > span {
        display: block;
        position: absolute;
        top: 50px;
        left: 0;
        height: 46px;
        padding: 12px 7px 12px;
        border: solid 3px #7b9e11;
        border-radius: 0 20px 20px 0;
        color: white;
        background-color: #96b011;
    }

    #section-header1 p {
        padding: 1rem 0;
    }

    nav,
    header,
    #section-header1,
    #section-header2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }

    #logo {
        margin-top: 130px;
        margin-bottom: 20px;
    }

    #section-3-articles {
        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }

    #footer-trois-articles {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }

    .listing-thes-3-thes {
        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }

    .listing-thes > article img {
        display: none;
    }

    /* Page product*/
    .product {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }

    .product .two-columns,
    .note {
        flex-direction: column;
        text-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }

    .two-columns div:last-of-type {
        align-items: center;
        width: 95%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
    }

    select {
        min-width: 100%;
    }

    .bouton {
        display: block;
        width: 100%;
    }

    .two-columns a:nth-of-type(2) {
        font-size: 1.7rem;
    }

    /*Page ABOUT*/
    .about img:nth-child(2) {
        float: none;
        width: 95%;
        height: auto;
        margin: 0 auto;
    }

    .concept {
        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }

    .concept article {
        width: 95%;
    }

    /*FOOTER NAV*/
    footer nav {
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        -ms-flex-wrap: wrap;
    }

    footer nav article {
        margin: 0 10px;
    }
}

/*fin responsive MOBILE*/
