/*GLOBAL */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

*:hover {
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

body {
    font-size: 16px;
    color: #c1d660;
    background-color: #eee;
    font-family: 'Amaranth', sans-serif;
}

html {
    font-size: 62.5%;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

.prix {
    font-size: 24px;
    margin-bottom: 1rem;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 19px;
    text-align: center;
    background-color: white;
}

/* HEADER */
header {
    background: no-repeat url("../img/bg.jpg") #9adc1a center;
    background-size: cover;
    /* width: 100%; */
    height: 185px;
    padding-bottom: 20px;
}

/*H1 du header en fond foncé transparent*/
header p {
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 0;
}

/*image : élu meilleur thé*/
header > img {
    width: 125px;
    float: right;
}

.enTete {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 100%;
}

#sectionHeader1 {
    text-align: center;
    width: 100%;
    height: 20px;
    opacity: 0.6;
    margin: 0;
    color: white;
}

#sectionHeader2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#sectionHeader3 {
    clear: both;
    color: white;
}

/*cercle autour du panier*/
.fa-shopping-cart::before {
    border: 1px solid;
    padding: 7px;
    border-radius: 50%;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

nav a {
    text-transform: uppercase;
    color: yellow;
    padding: 10px;
}

nav a:hover {
    background: rgba(1, 1, 1, 0.2);
}

/*Bandeau*/
#bandeauPromotions {
    width: 100%;
}

/*MAIN*/
/*5 thés*/
#cinqThes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: white;
    margin-bottom: 30px;
}

#cinqThes h2 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

#cinqThes a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#cinqThes:hover a {
    opacity: 0.5;
}

#cinqThes:hover a:hover {
    opacity: 1;
}

#cinqThes h2::before {
    width: 33%;
    left: 58px;
}

#cinqThes h2::after {
    width: 33%;
    right: 58px;
}

/*section3articles*/
#section3articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    margin-bottom: 30px;
}

#section3articles h2 {
    position: relative; /*Utilisé pour positionner les ::before ::after;*/
}

/*TIRET Avant et arprès h2*/
#section3articles h2::before {
    content: "";
    width: 30%;
    height: 1px;
    background-color: grey;
    position: absolute;
    top: 15px;
    left: -70px;
}

#section3articles h2::after {
    content: "";
    width: 30%;
    height: 1px;
    background-color: grey;
    position: absolute;
    top: 15px;
    right: -70px;
}

#section3articles article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
}

#section3articles article:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: -5px -5px 10px 5px rgba(161, 171, 99, .2);
    box-shadow: -5px -5px 10px 5px rgba(161, 171, 99, .2);
}

#section3articles p {
    color: #cb9e54;
}

#section3articles a,
.listingThes3thes article a,
.two-columns a:first-of-type {
    background-color: #cb9e54;
    /* width: 150px; */
    padding: 10px 15px;
    /* margin: 10px; */
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
}

/*Effet au survol du bouton*/
#section3articles a:hover {
    opacity: 0.7;
}

/*FOOTER*/
footer {
    background: #9adc1a url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

footer nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    color: white;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

footer nav article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 10px;
    font-size: 130%;
    font-weight: lighter;
    text-transform: uppercase;
    height: 60px;
}

#footerTroisArticles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    color: yellow;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#footerTroisArticles ul {
    list-style-type: none;
    padding-left: 0;
}

#footerTroisArticles:hover article {
    opacity: 0.6;
}

#footerTroisArticles:hover article:hover {
    opacity: 1;
}

#footerTroisArticles article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#footerTroisArticles h2 {
    color: white;
}

/****************************************************
				PAGE LISTING (Thés)
****************************************************/
.listingThes {
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}

.listingThes > article {
    padding: 10px;
}

.listingThes > article img {
    float: left;
}

.listingThes > article > p {
    width: 90%;
    text-align: left;
    color: grey;
    font-family: "Arial", sans-serif;
}

/*TIRET après h2*/
.listingThes > article > h2,
.about > article > h2 {
    margin-bottom: 30px;
    text-align: left;
    background-color: #fff;
    padding: 10px;
    /*margin: 10px;*/
}

main h2 span {
    background-color: white;
    padding: 10px;
    font-weight: initial;
}

.listingThes h2::after,
.about h2::after {
    content: "";
    display: block;
    border-top: 1px solid rgba(176, 144, 103, 0.3);
    margin-top: -10px;
    background-color: #fff;
}

/*************** ListingThe3thes *************/
.listingThes3thes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: white;
    margin-bottom: 30px;
}

.listingThes3thes h3 {
    color: grey;
}

.listingThes3thes article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
}

/* LICENCE */
#licence {
    display: block;
    text-align: center;
    padding: 25px;
    color: yellow;
    background-color: rgba(0, 0, 0, 0.1);
}

#licence img {
    width: 50px;
}

#licence img:hover {
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
    transform: rotate3d(0, 1, 0, 90deg);
}

/*About*/
.about article h1 {
    color: #656765;
    font-weight: normal;
    text-align: left;
    padding-left: 10px;
}

.about h2 {
    text-align: left;
}

.about img {
    margin: 17px;
    float: left;
}

.about img:nth-child(2) {
    float: right;
}

.about p {
    text-align: left;
    color: #656765;
}

.concept {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    background-color: #eaefcf;
}

.concept article {
    width: 33%;
    margin: 0 auto;
    padding: 0 22px;
}

.concept img {
    float: none;
    width: 70px;
    height: auto;
}

section.concept p {
    color: #656765;
    text-align: center;
    font-size: smaller;
}

.concept figcaption {
    color: #656765;
}

/****************************************************
				PAGE Products
****************************************************/
.two-columns div:first-of-type {
    /* text-align: left; */
}

.two-columns div:last-of-type {
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 20px 0;
}

.article .two-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.article h3,
.article h4,
.article p,
.article label {
    display: block;
}

.two-columns i {
    color: #feaa10;
}

.two-columns i:nth-of-type(5) {
    color: #636364;
}

select {
    min-width: 200px;
}

.two-columns a:nth-of-type(2) {
    display: block;
    margin-top: 18px;
    font-size: 0.8rem;
    color: #9adc1a;
}

.two-columns .fa-heart {
    color: #e48675;
}

.product {
    color: #636364;
}

.product section {
    text-align: left;
}

/****************************************************
				 RESPONSIVE
****************************************************/

/*mobile*/
/*HEADER*/
@media screen and (max-width: 768px) {
    .container {
        max-width: 760px;
    }

    nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    /*masquage élu meilleur thé, bandeau noël, slider...*/
    header > img, #bandeauPromotions, .flexslider, main > h1,
    main > h3, #sectionHeader3 #panier {
        display: none;
    }

    .enTete {
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    /*pour positionner les panier*/
    header {
        position: relative;
        height: 370px;
    }

    #sectionHeader3 > span {
        display: block;
        position: fixed;
        left: 5px;
        top: 30px;
        padding-top: 11px;
        border-radius: 5px;
        height: 40px;
        background-color: #c1d660;
        color: white;
    }

    #sectionHeader1 p {
        padding: 1rem 0;
        font-size: 2rem;
    }

    nav,
    header,
    #sectionHeader1,
    #sectionHeader2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #logo {
        margin-top: 75px;
    }

    #section3articles {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #footerTroisArticles {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    /*FOOTER NAV*/
    footer nav {
        font-size: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    footer nav article {
        font-size: 1.8rem;
        margin: 0px 10px;
    }
}

/*fin responsive MOBILE*/